ul {
list-style-type: square;
}

p {
    font-family: times new roman;
    font-weight: 700;
    font-size: 40px;
}

h3 {
    color: red;
}

body {
    background-color: antiquewhite;
    border-width: 0px;
}
